<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Crud Productos</title>

    <link href="../CrudProductos/src/css/bootstrap.min.css" rel="stylesheet">
    <link href="../CrudProductos/src/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills2">
				<li class="nav-item">
					<a class="nav-link active" href="/">Comprar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Autenticar/ventas">Ventas realizadas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " style="display: block">Administrar Productos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="/carrito">Carrito</a><label th:text="${cantidad}"></label>
				</li>

			</ul><img class = "logo" alt="Bootstrap Image Preview" src="https://www.pucmm.edu.do/recursos/PublishingImages/Paginas/logos/Logo%20PUCMM%20%28Color%29.png" style="height: 150px">
			<h3 class="text-center">
				Crud Productos
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							Producto
						</th>
						<th>
							Precio(RD$)
						</th>
						<th>
							Descripcion
						</th>
						<th>
							Feedbacks
						</th>
						<th>
							Accion
						</th>
					</tr>
				</thead>


				<tbody>
				<form action="/CrearProducto" method="post" id="crearProducto">
					<tr th:each="producto : ${stock}">
						<td>
							<input th:value = "${producto.nombre}" name="stockNombre">
						</td>

						<td>
							<input th:value = "${producto.precio}" name="stockPrecio">

						</td>
						<td>
							<input th:value = "${producto.descripcion}" name="descripcion">

						</td>
						<td>
							<a th:href="'/delete/*'+${producto.id}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
								<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
								<path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
							</svg> </a>
						</td>

						<td>
							<a th:href="'/Modificar/mod/'+${producto.id}"  class="btn btn-primary "  >Modificar</a>
							<a th:href="'/Modificar/borrar/'+${producto.id}"  class="btn btn-primary ">Eliminar</a>

							<!--<button type="submit" name="modificar" value="Modificar" form="modificarProductos">Modificar</button><button type="submit" name="eliminar" value="Eliminar" form="eliminacion">Eliminar</button>-->
							<!--<input type="button" name="modificar" value="Modificar"><input type="button" name="eliminar" value="Eliminar">-->
						</td>


					</tr>

					<tr class="table-active">
						<button type="submit" class="btn btn-success" form="crearProducto">
							CrearProducto
						</button>
				</form>
				</tbody>
			</table>



		</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="../CrudProductos/src/js/jquery.min.js"></script>
    <script src="../CrudProductos/src/js/bootstrap.min.js"></script>
    <script src="../CrudProductos/src/js/scripts.js"></script>
  </body>
</html>